/* Declaring variables to use sitewide*/
:root {
    /* primary colors for site */
    --background-color: #040e40;

    --primary-text-color: #fff;
    --secondary-text-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background: var(--background-color);
    color: var(--primary-text-color);
}
a {
    outline: none;
    color: #9faef9;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #4ecdff;
    transition: all 0.3s ease 0s;
}
#header {
    width: 100%;
    height: 100vh;
    background: url(../img/dark-background.jpg);
    /* background: url("img/dark-background.jpg"); */
    /* background: url("/Users/michaelcillo/Desktop/School/Career Foundry/img/dark-background.jpg"); */
    
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%;
    height: auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 140px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #115AD9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    font-family: 'Archivo', sans-serif;
    color: var(--primary-text-color);
    text-shadow: 2px 2px 4px #ff004f;
}
/* ---------About Section-------- */
#about {
    padding: 80px 0;
    /* height: 90vh; */
    color: #ababab;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
    justify-content: center;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #115AD9;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: #ff004f;
    font-size: 18px;
    font-weight: 300;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}
/* --------- About me Experience tab contents ------- */
.table-header__item {
    color: #ff004f;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
td {
    text-align: center;
}
table {
    table-layout: auto;
    width: 100%;
}
tbody td {
    text-align: center;
}
/* -------Portfolio Section------- */
#portfolio {
    padding: 80px 0;
    /* height: 90vh; */
}
.work-list {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, min-max(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work-item {
    padding: 20px;
    background-color: transparent;
    transition: 0.9 opacity;
    border: 5px solid #fff;
    border-radius: 15px;
    text-align: center;
}
.work-item:hover,
.work-item:focus {
    cursor: pointer;
    opacity: 0.8;
}
.work-title {
    color: #041430;
    color: #fff;
    padding: 5px;
}
.work-text {
    color: #fff;
    line-height: 1.5;
    padding: 3px;
}
.work-item a {
    padding: 4px;
}
/* --------Contact Section-------- */
/* #contact{
    padding: 80px 0;
    height: 90vh;
}
.row{
  padding: 20px;
} */
.contact-left{
  flex-basis: 35%;
    /* align-items: center;
    justify-content: center; */
}
.contact-right{
  flex-basis: 60%;
    /* align-items: center; */
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2{
  display: inline-block;
  background: #ff004f;
}
.form-area{
    display: grid;
    place-items: center;
}
.wrapper{
    color: #fff;
    padding: 50px 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.wrapper::before{
    content: '';
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(2px);
}
.wrapper p{
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.wrapper input{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}
textarea{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 50px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}
.wrapper a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    padding: 10px;
    background: deepskyblue;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

/* ------------- Responsiveness Styles ------------- */

nav .fa-solid{
  display: none;
}

@media only screen and (max-width: 600px){
  .header-text{
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1{
    font-size: 30px;
  }
  nav .fa-solid{
    display: block;
    font-size: 25px;
  }

  nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right;
  }

  nav ul li{
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title{
    font-size: 40px;
  }

  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }

.row {
  display: flex;
  flex-direction: column;
}
}

@media only screen and (min-width: 768px){
}

@media only screen and (min-width: 992px){
}

@media only screen and (min-width: 1200px){
}