/* Declaring variables to use sitewide*/
:root {

    /* primary colors for site */
    --background-color: #041430;

    --primary-text-color: #fff;
    --secondary-text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

body {
    background: var(--background-color);
    color: var(--primary-text-color);
}

a {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #115AD9;
    transition: all 0.3s ease 0s;
}

body a:visited {
    color: #ff004f !important;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #115AD9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    font-family: 'Archivo', sans-serif;
    color: var(--primary-text-color);
    text-shadow: 2px 2px 4px #ff004f;
}

/* ---------About Section-------- */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #115AD9;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 18px;
    font-weight: 300;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* --------- About me Experience tab contents ------- */
.table-header__item {
    color: #ff004f;
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

td {
    text-align: center;
}

table {
    table-layout: auto;
    width: 100%;
}

tbody td {
    text-align: center;
}


/* -------Portfolio Section------- */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-color: yellow;
    color: #333335;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work-item {
    display: grid;
    padding: 20px;
    background-color: #ababab;
    transition: 0.9 opacity;
    border: 5px solid #115AD9;
    border-radius: 15px;
    text-align: center;
}

.work-title {
    color: #115AD9;
}

.work-text {
    color: #fff;
}


/* --------Contact Section-------- */
.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 15px;
}

.contact-right {
    flex-basis: 60%;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}